@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 191, 219, 254;
  --background-end-rgb: 191, 219, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.grecaptcha-badge {
  display: none !important;
}